{% extends 'base.html.twig' %}

{% block title %}WorldRecords{% endblock %}

{% block body %}
    <h1>WorldRecords</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ world_record.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ world_record.date ? world_record.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Player</th>
                <td>{{ world_record.player }}</td>
            </tr>
            <tr>
                <th>Kills</th>
                <td>{{ world_record.kills }}</td>
            </tr>
            <tr>
                <th>Legend</th>
                <td>{{ world_record.legend }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_wr_index') }}">back to list</a>

    <a href="{{ path('admin_wr_edit', {'id': world_record.id}) }}">edit</a>

    {{ include('world_records/_delete_form.html.twig') }}
{% endblock %}
