{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Tous nos articles</h1>

        {% for article in articles %}
            <ul>
                <li><h2>{{ article.titre }}</h2></li>
                <li>Crée le {{ article.createdAt ? article.createdAt|date('d-m-Y ') : '' }} à {{ article.createdAt ? article.createdAt|date('H:i:s') : '' }} par {{ article.auteur }}</li>
                <li><img src="{{ article.image }}"></li>
                <li>
                    <a href="{{ path('article_show', {'id': article.id}) }}">Lire l'article</a>
                </li>
            </ul>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

        {{ knp_pagination_render(articles) }}
{% endblock %}
