{% extends 'base.html.twig' %}

{% block title %}ApexUnite | Play of the week{% endblock %}

{% block body %}
    <h1>Play of the week</h1>

    {% for video in videos %}
        <ul>
            <li><h2>{{ video.titre }}</h2></li>
            <li><iframe width="900" height="506" src="{{ video.lien }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li>Posté le {{ video.postedAt ? video.postedAt|date('d-m-Y') : '' }} par {{ video.auteur }}</li>
            <li><a href="{{ path('video_show', {'id': video.id}) }}">Voir plus</a></li>
        </ul>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    {{ knp_pagination_render(videos) }}

{% endblock %}
