{% extends 'base.html.twig' %}

{% block title %}WorldRecords index{% endblock %}

{% block body %}
    <h1>WorldRecords index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Player</th>
            <th>Kills</th>
            <th>Legend</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for world_record in world_records %}
            <tr>
                <td>{{ world_record.id }}</td>
                <td>{{ world_record.date ? world_record.date|date('Y-m-d') : '' }}</td>
                <td>{{ world_record.player }}</td>
                <td>{{ world_record.kills }}</td>
                <td>{{ world_record.legend }}</td>
                <td>
                    <a href="{{ path('wr_show', {'id': world_record.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
