<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('Asset/style.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    <body>
        <header>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">ApexUnite</a>
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Home</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('user_index') }}">User</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin_video_index') }}">Video</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin_article_index') }}">Article</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin_tag_index') }}">tag</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin_type_index') }}">type</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('video_index') }}">Video</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('article_index') }}">Article</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('news_index') }}">news</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('funnystuff_index') }}">funnystuff</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">contact</a></li>
                            {% endif %}
                            {% if app.user %}
                                <li class="nav-link">Bonjour, {{ app.user.username }}</li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
<style>
</style>
