<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta property="og:url"           content="https://www.sf.m3104.villevy.com/article" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Hello GVHomeController!" />
        <meta property="og:description"   content="Le super test" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="https://seeklogo.com/images/A/apex-logo-C3478A4601-seeklogo.com.png" />
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
            <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}


    </head>

    <body>
        <header>

            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">ApexUnite</a>
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav me-auto">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Vidéos</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('video_index') }}">Toutes les vidéos</a>
                                    <a class="dropdown-item" href="{{ path('funnystuff_index') }}">Funny stuff</a>
                                    <a class="dropdown-item" href="{{ path('playoftheweek_index') }}">Play of the week</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('article_index') }}">Tous les articles</a>
                                    <a class="dropdown-item" href="{{ path('news_index') }}">News</a>
                                    <a class="dropdown-item" href="{{ path('tips_index') }}">Tips</a>
                                </div>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Panneau admin</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ path('user_index') }}">Gestion des users</a>
                                        <a class="dropdown-item" href="{{ path('admin_video_index') }}">Gestion des vidéos</a>
                                        <a class="dropdown-item" href="{{ path('admin_article_index') }}">Gestion des articles</a>
                                        <a class="dropdown-item" href="{{ path('admin_tag_index') }}">Gestion des tags</a>
                                        <a class="dropdown-item" href="{{ path('admin_type_index') }}">Gestion des types</a>
                                        <a class="dropdown-item" href="{{ path('admin_world_record_index') }}">Gestion des Worldrecords</a>
                                        <a class="dropdown-item" href="{{ path('information_index') }}">Gestion des informations</a>
                                    </div>
                                </li>
                            {% endif %}

                            <li class="nav-item"><a class="nav-link" href="{{ path('world_record_index') }}">World record</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                            {% if app.user %}
                                <li class="nav-link">Bonjour, {{ app.user.username }}</li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a></li>
                            {% endif %}
                        </ul>
                            {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
<script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<style>
    #content{
        margin: 20px;
    }
    #videos div, #articles div{
        min-width: 300px;
    }

    #articles{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    a{
        text-decoration: none;
    }
    #information{
        display: flex;
        flex-direction: row;
    }
    #information div{
        margin-right: 20px;
    }
    #articles a{
        color:gainsboro;
    }
    #content h2{
        padding-top:50px;
    }
    .card-header{
        background-color:#4957ff;
    }
</style>
